@property --black {
  syntax: "<color>";
  inherits: false;
  initial-value: #3D3C42;
}
@property --purple {
  syntax: "<color>";
  inherits: false;
  initial-value: #7F5283;
}
@property --blue {
  syntax: "<color>";
  inherits: false;
  initial-value: #A6D1E6;
}
@property --white {
  syntax: "<color>";
  inherits: false;
  initial-value: #FEFBF6;
}
*{
    margin: 0;
    padding: 0;
}
html{   
    font-family: Montserrat;
    background-color: black;
    color: var(--white);
}
.spacer{
    height: 100vh;

}
.about-me-heading{
    background-color: black;
    width: 400px;
    
    margin-top: 60px;
    margin-left: 40px;
    position: relative;
    z-index: 0;
}
.about-me-heading h1 span{
    position: relative;
    z-index: 2;
}
.about-me-heading::before{
    /* content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100px;
    background-color: white;
    mask-image: url("./assets/mask/mask-image.png");
    mask-repeat: no-repeat;
    mask-position: 0 0; */
    content: "";
  position: absolute;
  inset: 0;
  background-color: #BC13FE;
  z-index: -1;

  /* Mask from left (0%) to right (100%) */
  mask-image: url("assets/mask/mask-image.png");
  /* mask-size: 200% 100%; */
  mask-position: -435% 0;
  mask-repeat: no-repeat;
  transition: mask-position 0.5s ease-in-out;
}
.about-me-heading:hover::before{
    mask-position: 0 0;
}
.about-me-content{
    /* display: inline-block; */
    margin-left: 40px;
    width: 40vw;
    font-size: 20px;
}
.hero-image{
    display: grid;
    grid-template-rows: 1fr auto;
    float: right;
    margin-right: 20px;
}
.hero-image img{
    border-radius: 1200px;
    mask-image: linear-gradient(to bottom, #000,#0000);
}
.hero-description{
    text-align: center;
    /* margin-top: -5px;     */
}
nav{
    min-height: 30px;
    border-radius: 5px;
    /* max-width: 1200px; */
    margin-left: 150px;
    /* min-width: 900px; */
    /* position: fixed; */
    width: 84.5%;
    text-align: center;
    top: 0;
    font-family: Montserrat;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(53, 53, 53);
    /* filter: blur(5px); */
    transition: color 0.5s;
    
}
nav *{
    width: calc(105vw/5);
}
nav a{
    font-weight: bold;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    position: relative;
}
/* nav a::after{
    content: '';
    position: absolute;
    background-color: var(--white);
    height: 20px;
    width: 1px;
    right: 0;
} */
nav a::before{
    z-index: 1;
    content: '';
    position: absolute;
    background-color: #BC13FE;
    height: 0px;
    width: 100%;
    bottom: 0;
    transition: height 0.5s;
}
nav a:hover{
    color: black;
}
nav a:hover::before{
    height: 30px;
}
.about-span,.exp-span,.blog-span,.video-span,.resume-span{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.5s;
}
.about-me-grid{
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 30px;
}